.vs/
.vscode/

*.VC.db
*.VC.VC.opendb
ipch/
*.pch
*.idb
*.ipdb
*.pdb

build/
dist/
*.spec

playwright_browsers/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.idea/
*.log

venv/
.env/

.DS_Store
Thumbs.db
