* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  scroll-behavior: smooth;
}
.header {
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 100vh;
  padding: 50px;
}
.header h1 {
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
  font-size: 75px;
}
.featured-products {
  position: absolute;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: animate 30s linear infinite;
}
.fp-title {
  color: red;
  font-size: xx-large;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@keyframes animate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}
.featured-products span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  -webkit-box-reflect: below 0px
    linear-gradient(transparent, transparent, #0004);
}
.featured-products span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured-products span img:active {
  transform: scale(1);
  transition: 0.1s;
}
